p {
font-family: monospace;
text-align: left;
letter-spacing: 3px;
word-spacing: 5px;
text-indent: 30px;
}

h1{
    font-family: serif;
    background-image: url(../img/sobre-background.jpg);
}

h2{
    font-family: sans-serif;
    border-bottom: 2px solid #333333;
}

body {
color: #333333;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin-left: auto;
margin-right: auto;
width: 940px;
}

figure {
 background-color: #F2EDED;
 border: 1px solid #ccc;
 text-align: center;
}

figcaption {
 font-style: italic;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}

#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px;
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}

#familia-pelho{
    float: left;
    margin: 0 0 10px 10px;
}
